Bands_Indi_Bands_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Bands_Indi_Bands_Period,1=4
Bands_Indi_Bands_Period,2=4
Bands_Indi_Bands_Period,3=24
Bands_Indi_Bands_Period,F=1
Bands_Indi_Bands_Period={{ period | default(4) }}
Bands_SignalOpenFilterMethod=1
Bands_TickFilterMethod=1
