Bands_Indi_Bands_Applied_Price,1=0
Bands_Indi_Bands_Applied_Price,2=0
Bands_Indi_Bands_Applied_Price,3=6
Bands_Indi_Bands_Applied_Price,F=1
Bands_Indi_Bands_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Bands_Indi_Bands_Period={{ period | default(4) }}
Bands_SignalOpenFilterMethod=1
Bands_TickFilterMethod=1
